
@{
    ViewData["Title"] = "ViewResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AvailableHotels;
@if (Model.Offers.Hotel == null)
{
    <div>
        <h3>No Hotel Offers Found please try again</h3>
    </div>
}
else
{
    @foreach (var hotel in Model.Offers.Hotel)
    {
        <div style="padding-top:20px">

            <div class="col-4">
                <h3 style="font-family:Times New Roman">
                    <a href="@Uri.UnescapeDataString(hotel.HotelUrls.HotelInfositeUrl)" rel="bookmark">@hotel.HotelInfo.HotelName</a>
                </h3>
                <a href="@Uri.UnescapeDataString(hotel.HotelUrls.HotelSearchResultUrl)">
                    <img src="@hotel.HotelInfo.HotelImageUrl" width="300" style="border-radius:4px">
                </a>
                <span style="vertical-align: top ;font-weight: bold;padding-left:10px;">@hotel.HotelInfo.HotelDestination</span>
                <span style="float:right;tab-size:5px">
                    @hotel.HotelPricingInfo.OriginalPricePerNight @hotel.HotelPricingInfo.Currency  Avg Per Night
                </span>
                <br />
                <span style="float:right">
                    Rating: @hotel.HotelInfo.HotelStarRating/5
                    <a href="@Uri.UnescapeDataString(hotel.HotelUrls.HotelInfositeUrl)" rel="bookmark"> (@hotel.HotelInfo.HotelGuestReviewRating reviews)</a>

                </span>


            </div>
            <hr />
        </div>
    }
    @if (!Model.Offers.Hotel.Any())
    {
        <div>
            <span>No Hotel Offers Found!</span>
        </div>
    }
}
